*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#header{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f4dc3a48772065.58a1d7367d4e8.gif');
    background: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
    height: 100vh;
    
}
    
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.logo{ 
    margin-top: 30px;
    width: 125px;
}
.Header_text{
    font-size: 15px;
    max-width: 350px;
    margin-top: 100px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}
p{
    font-size: 15px;
    line-height: 18px;
    color: 777;
}
.Header_text button{
    margin-top: 20px;
    margin-bottom: 16px;
}
.line{
    line-height: 8px;
}
.line-1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}


























